.reg_form{
    margin: auto;
    width: fit-content;
    border: 1px solid black;
    padding: 1rem;
}
.banner{
    margin: auto;
    width: fit-content;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.submit{
    margin: 1rem;
}
.existing_monit{
    margin: auto;
    width: fit-content;
    color: red;
    margin-top: 4rem;
}