.single_request{
    border: 1px solid black;
    margin: 2rem;
    display: flex;
}
.group_requests{
    width: 60%;
    margin: auto;
}
.data{
    margin: 1rem;
}
.control{
    margin: 0;
    position: relative;
    top: 45%;
}

@media only screen and (max-width: 600px){
    .group_requests{
        width: 100%;
        margin: auto;
    }
}